img {
  max-width: 100%;
}

.inbox_msg {
  clear: both;
  overflow: hidden;
  height: 100vh;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #7674fe none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 70px;
}

.search-bar:focus,
.write_msg:focus {
  outline: none;
}

textarea {
  border: 0px solid;
  margin-top: 5px;
  outline: none;
  resize: none;
  width: 100%;
}
